body {
    margin: 0;
    padding: 0;
    background: black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#graph {
    width: 725px;
    height: 205px;
    margin: 200px auto;
    border: 1px solid red;
    background: black;
    position: relative;
}

.dot {
    width: 4px; /* 그래프 선의 굵기 설정 */
    height: 4px;
    border-radius: 50%;
    background: greenyellow;
    position: absolute;
    left: 0;
    top: 0;
}
